body {
    overflow-x: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrapper {
    padding-bottom: 8rem;
}

footer {
    position: absolute;
    margin-top: 4.5rem;
    bottom: 0;
    width: 100%;
  }

  .bg-info-light {
      background-color: #e3f2fd;
  }

.img-fluid {
    width: 100vw;
    padding: none;
}

@media screen and (min-width: 1000px) {
    #content-wrapper {
        padding-bottom: 5.5rem;
    }

    .mx-md-23 {
        margin-left: 23rem;
        margin-right: 23rem;
    }
    
    .img-fluid {
        width: 50vw;
    }

    .m-md-box {
        margin: 2rem 17rem;
    }
}