html
    head
        title Summarian | Review Before You Read
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        //- Bootstrap CSS
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/css/custom.css")
    body.bg-light
        .jumbotron.text-center.bg-info.text-light.mb-1
            h2.mx-xs-5.py-2.bg-light.text-info.rounded-pill.shadow.mx-md-23 Review before you read
            p.mt-4.lead Summarian let's <i><b>you</b></i> get the gist of books in any genre.
        nav.my-0.pb-1.bg-light.shadow.nav.nav-tabs.nav-justified.text-decoration-none
            a(href="#").nav-item.nav-link.ml-2.text-info Book List
            a(href="#").nav-item.nav-link.text-info Sign Up / Login
            a(href="#").nav-item.nav-link.active.mr-2.text-info About Us
        .row.mt-5
            .col-md.order-2.pr-md-5.d-md-flex.flex-column.justify-content-center
                h2.mt-4.text-center.text-md-right Find books you know you'll love.
                p.lead.text-center.text-md-right Unsure about if a book is for you? With summarian, you can find bried summaries and reviews for books, so you know what you're getting into with each title
            .col-md.order-1.pr-0
                img(src="/static/img/aung-soe-min-1172573-unsplash.jpg", alt="heart-shaped pages").img-fluid
            
                
        .row
            .col-md.pl-md-5.pr-0.d-md-flex.flex-column.justify-content-center.order-2.order-md-1
                h2.mt-4.text-center.text-md-left Understand the stories, without any spoilers.
                p.lead.text-center.text-md-left.pr-3 Noboody likes finding out that so-and-so died in chapter 4! Luckily, with Summarian's community-based genre moderation, you never have to worry about big plot twists getting spilled.
            .col-md.order-1.order-md-2
                img(src="/static/img/ben-white-197668-unsplash.jpg", alt="Shocked chuld").img-fluid

        .row
            .col-md.order-2.pr-md-5.d-md-flex.flex-column.justify-content-center
                h2.mt-4.text-center.text-md-right Summarize your favourite stories.
                p.lead.text-center.text-md-right You can get involved, too! With Summarian, you can write reviews for your favourite books, just follow our #[a(href="/guidelines") write-up guidelines] when sumarizing.
            .col-md.order-1.pr-0.mb-3
                img(src="/static/img/green-chameleon-21532-unsplash.jpg", alt="heart-shaped pages").img-fluid
        .bg-info.text-center.m-md-box.p-5.rounded.shadow
            h2.text-light So what are you waiting for?
            a(href="/signup")
                button.btn.btn-light.btn-lg.text-info.text-decoration-none.shadow-lg Sign Up!
        include partials/footer.pug