extends layout.pug

block content

    include partials/error.pug       

    form(action='/login', method="post")
         p
            label(for="emailAddress") Email Address
            input(name="emailAddress", type="text", id="emailAddress")
         p
            label(for="password") Password
            input(name="password", type="password", id="password")
         p
            input(type="submit" value="Login")         
         p
            a(href="/") 
               button.btn.btn-info.btn-sm.text-light.text-decoration-none.shadow-lg Cancel
