footer.bg-info-light.pt-4.pb-3.d-md-flex.justify-content-between.shadow-lg
    p.text-muted.text-center.text-md-left.mr-0 &copy; Jacob T. Murphy | 2019.

    p.text-info.text-center.text-md-right.ml-0 Made with 💙  in Northern Ireland.